@font-face {
    font-family: Pixelmania;
    src: url('Pixelmania.ttf') format('truetype');
}
@keyframes rainbow {
    0% { background-position: 0 50%; }
    100% { background-position: 100% 50%; }
}
.rainbow-text {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
    -webkit-text-stroke-width: 2px; /* Set the width of the text stroke */
    -webkit-text-stroke-color: black;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 4vw;
    align-self: center;
    font-family: Pixelmania, 'serif';
    letter-spacing: 8px;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 40vw;
    width: 17vw;
}
.left {
    border-radius: 1vw 0 0 1vw;
    margin-right: -1px;
}
.right {
    border-radius: 0 1vw 1vw 0;
    margin-left: -1px;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28vw;
    width: 17vw;
}
.btn {
    height: 6vw;
    font-family: Pixelmania, 'serif';
    font-size: 20px;
    border-radius: 1vw;
    width: 17vw;

}
#color-sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
}
#color-sign {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 2px solid black;
}

/* Screen classes */
#screen {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.row {
    display: flex;
    flex-direction: row;
}
.pixel {
    border: 1px solid black;
    margin: -1px;
    width: 2.5vw;
    height: 2.5vw;
}